* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font e sfondo */
body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}
/* /font e sfondo */

/* intestazione e titolo */
 header {
   padding: 20px;
 }

h1 {
  font-size: 70px;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
}
/* /intestazione e titolo */

/* corpo del progetto */
/* contenitore delle carte */
.container {
  width: 960px;
  margin:auto;
}
/* contenitore delle carte */

/* struttura delle carte */
.card {
  display: inline-block;
  height: 300px;
  width: 200px;
  border-radius: 20px;
  margin: 40px 20px;
  background-image: url("../img/pattern.png");
  background-size: contain;
  background-repeat: repeat;
  position: relative;
}
/* /struttura delle carte */

/* titoli carte */
h2 {
  text-align: center;
  position: absolute;
  width: 200px;
  font-size: 30px;
  bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: none;
}
/* /titoli carte */

/* colori titoli carte */
.balloon {
  color: purple;
}

.tractor {
  color: orange;
}

.cruise-ship {
  color: blue;
}

.bicycle {
  color: green;
}

.submarine {
  color: yellow;
}

.tram {
  color: black;
}
/* /colori titoli carte */

/* :hover delle carte */
.card:hover h2{
  display: block;
}

.card:hover {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
}

.card.card-balloon:hover {
  background-image: url("../img/noun_air_balloon_3134741.png");
}

.card.card-tractor:hover {
  background-image: url("../img/noun_Tractor_3134797.png");
}

.card.card-ship:hover {
  background-image: url("../img/noun_Cruise_Ship_3134824.png");
}

.card.card-bicycle:hover {
  background-image: url("../img/noun_Bicycle_3134821.png");
}

.card.card-tram:hover {
  background-image: url("../img/noun_Tram_3134750.png");
}

.card.card-submarine:hover {
  background-image: url("../img/noun_Submarine_3134738.png");
}
/* / :hover delle carte */

/* carta scoperta */
#face-up-card {
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

#face-up-card h2 {
  display: block;
}


/* /carta scoperta */

/* /corpo del progetto */
