* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}
 header {
   padding: 20px;
 }

h1 {
  font-size: 70px;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
}
