* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font e sfondo */
body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}
/* /font e sfondo */

/* intestazione e titolo */
 header {
   padding: 20px;
 }

h1 {
  font-size: 70px;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
}
/* /intestazione e titolo */

/* corpo del progetto */
/* contenitore delle carte */
.container {
  width: 960px;
  height: 1200px;
  margin:auto;
}
/* contenitore delle carte */

.card {
  display: inline-block;
  height: 300px;
  width: 200px;
  border-radius: 20px;
  margin: 40px 20px;
  background-image: url("../img/pattern.png");
  background-size: contain;
  background-repeat: repeat;
  position: relative;
}

/* .card.card-air-balloon {
  background-image: url("../img/noun_air_balloon_3134741.png");
} */

/* titoli carte */
h2 {
  text-align: center;
  position: absolute;
  width: 200px;
  font-size: 30px;
  bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: none;
}
/* /titoli carte */

/* colori titoli carte */
.balloon {
  color: orange;
}

.tractor {
  color: red;
}

.cruise-ship {
  color: blue;
}

.bicycle {
  color: green;
}

.submarine {
  color: yellow;
}

.tram {
  color: black;
}

.card:hover h2{
  display: block;
}

.card.card-air-balloon:hover {
  background-color: white;
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* /colori titoli carte */

/* /corpo del progetto */
